<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form #prodForm="ngForm" (ngSubmit)="processForm(prodForm)">
                <p>SKU : <input type="text" id="sku" name="sku" ngModel></p> <br>
                <p>Name : <input type="text" id="name"  name="name" ngModel></p> <br>
                <p>Description : <input type="text" id="description" name="description" ngModel> </p> <br>
                <p>Unit Price : <input type="text" id="unitPrice" name="unitPrice" ngModel> </p> <br>
                <p>imageUrl : <input type="text" id="imageUrl"  name="imageUrl" ngModel> </p> <br>
                <p>Active : <input type="text" id="active" name="active" ngModel> </p> <br>
                <p>UnitsInStock : <input type="text" id="unitsInStock" name="unitsInStock" ngModel>  </p> <br> 
                <div ngModelGroup="category">
                    <p>CategoryId: <input type="text" id="categoryId"  name="id" required ngModel> </p> <br>
                </div>
                <p><input type="submit" value="submit" id="b1_submit" name="b1_submit"></p>
               </form>
         
               <span id="message">{{message}}</span>
        </div>
    </div>
</div>
